<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toolpath Editor</title>
</head>
<body>
    <h1> Toolpath details for toolpath: </h1>
    <h2> {{ tp_name }} </h2>
    <h3> {{ tp_id }} </h3>
    {% for error in errors %}
        <li>ERROR --- {{ error }} </li>
    {% endfor %}
    {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
    {% endif %}
    <form action="{% url 'toolpath_detail' tp_id %}" method="POST">
        {% csrf_token %}
        {{ name_form }}
        <input type="submit" name="change_name" value="Change Toolpath Name"/>
    </form>
    <br>
    <form action="{% url 'toolpath_detail' tp_id %}" method="POST">
        {% csrf_token %}
        <input type="submit" name="delete" value="Delete Toolpath"/>
    </form>
    <br>
    <h3> Timeline Management </h3>
    <ol>
        {% for action in timeline %}
            {% if action.1 == "GRIP" or action.1 == "UNGRIP" or action.1 == "DELETED_WP" %}
                <li><a>{{ action.1 }} ...................................................................... </a>
                    <form action="{% url 'toolpath_detail' tp_id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="wp_index" value="{{ action.0 }}" />
                        <input type="submit" name="rm_from_tp" value="Delete"/>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'waypoint_detail' action.1 %}">{{ action.2 }} --- {{ action.1 }} --- </a>
                    <form action="{% url 'toolpath_detail' tp_id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="wp_index" value="{{ action.0 }}" />
                        <input type="submit" name="rm_from_tp" value="Delete"/>
                    </form>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
    {% if not error %}
        <form action="{% url 'toolpath_detail' tp_id %}" method="POST">
            {% csrf_token %}
            {{ choose_waypoint_form }}
            <input type="submit" name="add_wp_to_tp" value="Add WP to Toolpath"/>
        </form>
        <form action="{% url 'toolpath_detail' tp_id %}" method="POST">
            {% csrf_token %}
            <input type="submit" name="add_grip_to_tp" value="Add Grip to Toolpath"/>
        </form>
        <form action="{% url 'toolpath_detail' tp_id %}" method="POST">
            {% csrf_token %}
            <input type="submit" name="add_ungrip_to_tp" value="Add Ungrip to Toolpath"/>
        </form>
        <br>
        <form action="{% url 'toolpath_detail' tp_id %}" method="POST">
            {% csrf_token %}
            <a> Move Element: </a>
            {{ move_element_form }}
            <input type="submit" name="move_element" value="Move Element"/>
        </form>
        <br>
        <br>
        <form action="{% url 'toolpath_detail' tp_id %}" method="POST">
            {% csrf_token %}
            <input type="submit" name="execute" value="Execute Toolpath"/>
        </form>
        <br>
    {% endif %}
    <a href="{% url 'toolpath_index' %}">Go back</a>
</body>
</html>