<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>Saved Waypoints</title>
  </head>
  <body>
    <h1> Waypoint details for waypoint: </h1>
    <h2> {{ name }} </h2>
    <h3> {{ wp_id }} </h3>

    {% if errors %}
      {% for error in errors %}
        <li>ERROR --- {{ error }} </li>
      {% endfor %}

    {% else %}

      <p> Joint Angles: {{ joint_angles }} <p>
      <p> Creation Time: {{ timestr }} </p>
      <br>

      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if not deleted %}

        <form action="{% url 'waypoint_detail' wp_id %}" method="POST">
          {% csrf_token %}
          {{ name_form }}
          <input type="submit" name="change_name" value="Change Waypoint Name"/>
        </form>
        <br>
        <form action="{% url 'waypoint_detail' wp_id %}" method="POST">
          {% csrf_token %}
          <input type="submit" name="goto", value="Go To Waypoint">
        </form>
        <br>
        <form action="{% url 'waypoint_detail' wp_id %}" method="POST">
          {% csrf_token %}
          <input type="submit" name="delete" value="Delete Waypoint"/>
        </form>
        <br>
      {% endif %}

    {% endif %}

    <form action="{% url 'index' %}" method="GET">
      {% csrf_token %}
      <button type="submit">
        Click here to go back.
      </button>
    </form>

  </body>
</html>